/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header{
	margin-left: 50px;
	width: 300px;
	min-height: 200px;
	border: solid 1px #333;
}
.body{
	margin-left: 50px;
	width: 50%;
	min-height: 500px;
	border: solid 1px #333 ;
}
.tag{
	margin-left: 50px;
	width: 50%;
	min-height: 50px;
	border: solid 1px #333 ;
}
pre{
	border: solid 1px #333 ;
}
textarea{
	width:100%;
}
/* ul, ol { */
/* 	overflow-y: scroll; */
/* 	height: 300px; */
/* 	width: 70%; */
/* 	padding: 0; */
/* 	position: relative; */
/* } */

/* ul li, ol li { */
/* 	color: #2d8fdd; */
/* 	border-left: solid 6px #2d8fdd; */
/* 	background: #f1f8ff; */
/* 	margin-bottom: 3px; */
/* 	line-height: 1.5; */
/* 	padding: 0.5em; */
/* 	list-style-type: none!important; */
/* } */
/* li:hover{ */
/* 	border-left: solid 6px #2d8fdd; */
/* 	background: #2d8fdd; */
/* } */
